<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- layout 日志的格式。 -->
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.FileAppender">
        <fileName>${path}</fileName>
    </appender>

    <!-- root 所有应用的根节点，可以关联多个节点，也可能关联一个文件系统，STDOUT 是一个标准输出 -->
    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>