<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <!-- layout 日志的格式。 -->
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 如果没有配置，就会一层一层的往上边找 additivity，我只在当前打印，父节点不打印事件 -->
    <logger name="com.darian.logbackdemo.controller" level="warn" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <!-- root 所有应用的根节点，可以关联多个节点，也可能关联一个文件系统，STDOUT 是一个标准输出 -->
    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>